HTML, BODY { margin: 0; }
* { font:1em Monospace; }
BODY { 
	background:rgb(255, 245, 239);
}
.appHeader {
	font-size:2em;
	font-weight:bold;
	margin:20px 0;
}
.appSuccessMessage {
	color:#070;
	background:#BAFFA3;
	border:solid 1px #55AB49;
	border-radius:5px;
	padding:10px;
	margin-bottom:10px;
	cursor:pointer;
}
.appErrorMessage {
	color:red;
	background:#FA8C8C;
	border:solid 1px #FF6E6E;
	border-radius:5px;
	padding:10px;
	margin-bottom:10px;
	cursor:pointer;
}
.appErrorMessage:before {
	content:'Błąd:';
}
.appButton {
	width:32px;
	height:32px;
	border:solid 1px rgb(205, 93, 29);
	border-radius:5px;
	background:rgb(255, 245, 239);
	cursor:pointer;
}
.appDeleteButton {
	width:24px !important;
	height:24px !important;
	background:rgb(255, 245, 239) url(images/delete-icon.png) center no-repeat;
}
A:link, A:visited, A:hover {
	text-decoration:underline;
	color:black;
}
#appFooter {
	width:100%;
	padding:5px;
	text-align:center;
	background:rgb(255, 143, 79);
	position:fixed;
	bottom:0;
	z-index:2;
	box-shadow:0px -5px 4px 0px rgba(0,0,0,0.75);
}
#appFooter A:link, 
#appFooter A:visited,
#appFooter A:hover {
	color:black;
	text-transform:uppercase;
	text-decoration:underline;
}
#appHUD {
	width:70%;
	height:42px;
	margin:0 auto;
	position:fixed;
	top:0;
	z-index:2;
	padding:0 15%;
	background:rgb(255, 143, 79);
	box-shadow:0px 2px 5px 2px rgba(0,0,0,0.75);
}
#appHUD INPUT[type=text] { 
	width: 75%;
	height: 30px;
	padding:0 5px;
	border:solid 1px rgb(205, 93, 29);
	border-radius:5px;
	background:rgb(255, 245, 239);
	font-style:italic;
	float:left;
}
#appHUDInner {
	padding:5px 0;
}
#appHomeButton {
	background:rgb(255, 245, 239) url(images/home-icon.png) center no-repeat;
	margin-right: 10px;
	float:left;
}
#appSearchButton {
	background:rgb(255, 245, 239) url(images/find-icon.png) center no-repeat;
	margin:0 10px;
}
#appNewButton {
	background:rgb(255, 245, 239) url(images/add-icon.png) center no-repeat;
	float:right;
	clear:right;
}
#appMainContainer {
	width:70%;
	margin: 0 auto;
	padding:75px 0;
}
#appSubstanceList > TABLE { 
	width:100%; 
	border-spacing:0; 
	background:#fff;
	border:solid 1px rgb(205, 93, 29);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
#appSubstanceList TABLE THEAD { 
	height:2.5em;
	background:rgb(255, 143, 79);
}
#appSubstanceList TABLE TBODY TR:nth-child(even) {
	background:#F6F6F6;
}
#appSubstanceList TABLE TD { 
	height:2em;
	padding:5px;
}
/* Substance add/modify form styles */
#formContainer FORM { width:100%; }
#formContainer TABLE {
	width:100%;
	background:#fff;
	border-radius:5px;
	border:solid 1px rgb(205, 93, 29);
}
#formContainer TABLE TR TD {
	padding: 5px;
}
#formContainer TABLE TR TD:first-child {
	background:rgb(255, 143, 79);
	vertical-align:top;
	width:20%;
}
#formContainer TABLE TR TD:nth-child(2) * {
	width:100%;
	display:inline-block;
}
#formContainer TABLE TR TD:nth-child(2) TEXTAREA {
	height:10em;
	resize:vertical;
}
#formContainer TABLE TR:last-child TD {
	text-align:right;
}
#formCodeErrorMessage, #formNameErrorMessage {
	color:#f00;
	font-weight:bold;
}

